body {
    background-color: black;
    font-family: Verdana, sans-serif;
}

main, header {
    text-align: center;
}

h1, h2 {
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

a {
    display: block;
    font-size: 16px;
}

a:link {
    color: aquamarine;
}

a:visited {
    color: chartreuse;
}

a:hover {
    color: khaki;
}

a:active {
    color: darkkhaki;
}

p {
    font-size: 21px;
    color: gray;
}

footer p {
    text-align: right;
}